@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 20;
    margin: 20;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.5;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.card {
    position: block;
}
.product-imgs{
    justify-items: center;
    position: relative;
}

.product-content {
    position: relative;
    display: block;
    padding: 2rem 2rem;
}

.product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-content {
        padding-top: 0;
    }
    .swiper {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .mySwiper img {
        width: 300px;
        height: 300px;
    
    }
    .mySwiper2 .swiper-slide {

        width: 15%;
        height: 20%;
        opacity: 0.5;
    }
}

.swiper {
    width: 500px;
    height: 500px;
   

}
.mySwiper .swiper-slide {
    background-position: left;
   

}
.mySwiper img {
    width: 500px;
    height: 500px;
   

}

.swiper-pagination {
    position: relative;
    left: 50%;
    top: 100%;
    opacity: 0.5;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}

 .mySwiper2 {
    position: relative;
    height: 20%;
    
}
.mySwiper2 img{
    
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3rem;
}
.mySwiper2 .swiper-slide {

    width: 25%;
    height: 20%;
    opacity: 0.5;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-button-next{
    color: rgb(31, 122, 207);
}
.swiper-button-prev{
    color: rgb(31, 122, 207);
}
